---
- name: Restart redis
  ansible.builtin.systemd:
    name: redis-server
    state: restarted

- name: Restart sentinel
  ansible.builtin.systemd:
    name: redis-sentinel
    state: restarted

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
