# {{ ansible_managed }}
[Unit]
Description=etcd distributed key-value store
Documentation=https://etcd.io/docs/
After=network.target
Wants=network-online.target

[Service]
Type=notify
User={{ etcd_user }}
Group={{ etcd_group }}
ExecStart=/usr/bin/etcd --config-file {{ etcd_config_dir }}/etcd.conf.yml
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
