# {{ ansible_managed }}
[Unit]
Description=Patroni - PostgreSQL High Availability
Documentation=https://patroni.readthedocs.io/
After=network.target etcd.service
Wants=network-online.target

[Service]
Type=simple
User=postgres
Group=postgres
ExecStart=/usr/bin/patroni {{ patroni_config_dir }}/patroni.yml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
TimeoutSec=30
Restart=on-failure
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
